<article class="modular modular-youtube">
    {% if page.header.showtitle %}<h2 class="heading">{{ page.header.title }}</h2>{% endif %}
    <div class="content markdown">
        <iframe class="youtube-iframe" width="100%"
                src="https://www.youtube.com/embed/{{ page.header.youtube }}"
                frameborder="0"
                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
</article>

