@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,700,800&display=swap');

body,html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 100%;
  background-color: $color3;
  font-family: $font2;
  color: $color5;
}

/* ##################################
 Formatierugen
###################################*/

h1, h2, h3, h4, h5, h6{
  font-family: $font1;
  color: $color1;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
}
h2.heading, h1.heading{
  margin-bottom: 2rem;
}
h3{
  font-size: 20px;
}
h4, h5, h6{
  font-size: 18px;
}
p{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
a{
  color: $color2;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    color: $color2;
  }
}

strong{
  font-family: $font1;
}

ul:not(.sociallinks), ol{
  margin: 0;
  padding: 0;
  li{
    position: relative;
    list-style: none;
    line-height: 160%;
    padding-left: 30px;

    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphenate-limit-chars: 5;
    -webkit-hyphenate-limit-chars: 5;
    -ms-hyphenate-limit-chars: 5;
    hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-lines: 2;

    &::before{
      content: '';
      position: absolute;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      background-color: $color1;
      top: 14px;
      left: 10px;
      transform: translateY(-50%);

    }
  }
}

blockquote{
  background-color: $color3;
  padding: 5px;
  border: 1px solid $color5;
  p{margin: 0;}
}

/* ##################################
 Layout
###################################*/

.tags{
  margin-bottom: 1rem;
  span{
    border-radius: 1px;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: $color6;
    background-color: $color4;
  }
}
.entrylist{
  display: flex;
  flex-flow: column;
  border-top: 1px solid $color3;
  .entry-item{
    display: flex;
    width: 100%;
    border-bottom: 1px solid $color3;
    padding: 1rem 0 1rem 0;
    position: relative;

    .item-desc{
      h2.title{
        font-family: $font1;
        margin-bottom: 1rem;
        display: block;
        font-size: 1rem;

      }
    }
    .item-date{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      background-color: $color3;
      padding: 0 4px;
    }
  }
  @include media-breakpoint-down(sm) {
    .entry-item{
      display: block;
      padding-top: 1.5rem;
      .item-desc{
        padding: 0;
        h2.title{
          margin-top: 1rem;
        }
      }
    }
  }

  &.layout-1{
    .entry-item{
      .item-image{
        img{
          width: 250px;
        }
      }
      .item-desc{
        padding-left: 1rem;
      }
    }
    @include media-breakpoint-down(sm) {
      .entry-item{
        .item-image{
          img{
            width: 100% !important;
          }
        }
        .item-desc{
          padding: 0;
        }
      }
    }
  }
  &.layout-2{
    .entry-item{
      .item-image{
        display: none;
      }
    }
  }

}

.site-wrapper{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.site-header{
  border-top: 8px solid $color4;
  width: 100%;
  height: 258px;
  background-color: $color6;
  padding: 35px 0;
  margin-bottom: 2rem;
  .header-container{
    display: flex;
    align-items: center;
    .header-profileimage{
      div{
        border-radius: 100%;
        width: 180px;
        height: 180px;
        background-size: cover;
        background-position: center center;
      }
    }
    .header-info{
      margin-left: 2rem;
      span{
        line-height: 1.2;
        display: block;
      }
      .name{
        font-family: $font1;
        color: $color1;
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 16px;
      }
      .desc{
        font-family: $font2;
        color: $color5;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 1rem;
      }
      .header-social{
        ul{
          padding-left: 0;
          margin-left: -5px;
          list-style: none;
          li{
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
            a{
              background: $color5;
              width: 36px;
              height: 36px;
              display: inline-block;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              border-radius: 50%;
              -moz-background-clip: padding;
              -webkit-background-clip: padding-box;
              background-clip: padding-box;
              color: #fff;
              text-align: center;
              i{
                font-size: 20px;
                padding-top: 9px;
              }
              &:hover{
                background: $color1;
              }
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    height: auto;
    .header-container{
      flex-flow: column;
      .header-info{
        margin: 0;
        text-align: center;
        h1{
          margin-top: 20px;
        }
        .header-social{
          ul{
            text-align: center;
          }
        }
      }
    }
  }
}
.site-content{
  flex: 1;
}
.site-footer{
  width: 100%;
  background-color: $color1;
  text-align: center;
  .copyright{
    font-size: 14px;
    color: lightgrey;
    line-height: 40px;
  }
}

.page{
  background-color: $color6;
  padding: 2rem;
  margin-bottom: 2rem;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 2rem 1rem;
  }
  @include media-breakpoint-down(xs) {
    h2.heading{
      max-width: 250px;
    }
  }
  h1.heading{
    margin-bottom: 0.5rem;
  }
  .date{
    font-size: 12px;
    display:block;
    margin-bottom: 0.5rem;
  }
  footer{
    display: flex;
    background-color: $color3;
    align-items: center;
    padding: 10px 5px;
    justify-content: flex-end;
    .tags{
      margin: 0;
      flex: 1;
    }
    .entry-info{
      text-align: right;
      font-size: 12px;
    }
    .share{
      text-align: right;
      button{
        border: 0;
        padding: 0;
        outline-style: none;
        img{
          width: 24px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      display: block;
      div{
        min-height: 32px;
      }
      .tags{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color1;
      }
      .share{
        button{
          img{
            width: 32px;
          }
        }
      }
    }
  }
  .backlink{
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  &-entrylist{
    .entry-filters{
      margin-bottom: 0.75rem;

      .filter-button{
        position: relative;
        border: 0;
        cursor: pointer;
        padding: 5px 10px;
        background-color: $color1;
        display: inline-block;
        color: $color6;
        outline-style: none;
        margin: 4px 4px 4px 0;
        &:hover, &.active{
          background-color: $color2;
        }

      }
    }
  }
  &-entry{
    .entry-detail{
      display: flex;
      flex-flow: column;
      padding-top: 1rem;
      border-top: 1px solid $color3;
      .detail-preview{
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
        .preview-image{
          img{
            width: 250px;
          }
        }
        .preview-desc{
          padding-left: 1rem;
          p{
            margin: 0;
          }
        }
      }
      @include media-breakpoint-down(sm) {
        .detail-preview{
          display: block;
          .preview-image{
            img{
              width: 100% !important;
            }
          }
          .preview-desc{
            padding: 0;
            margin-top: 1rem;
          }
        }
      }

    }
  }
  & .modular{
    padding: 0 !important;
    margin-bottom: 1rem;

    h2.heading{
      margin-bottom: 1rem !important;
    }
  }
}

.modular{
  background-color: $color6;
  padding: 2rem;
  margin-bottom: 2rem;
  @include media-breakpoint-down(md) {
    padding: 2rem 1rem;
  }
  span.subtitle{
    font-size: 16px;
    color: $color5;
    font-weight: 300;
    font-family: $font1;
  }
  span.desc{
    font-size: 14px;
    color: $color5;
    font-weight: 300;
    font-family: $font1;
    display: block;
    margin-left: 24px;
    margin-top: 8px;
  }

  &-experience{
    div:not(:last-child){
      margin-bottom: 2rem;
    }
    p{
      margin: 1rem 0 0 0;
    }
  }
  &-text{
    padding-top: 1rem;
    padding-bottom: 1rem;
    .content{
    }
    h2.heading{
      margin-top: 1rem;
    }
  }

  &-gallery{
    border-top: 1px solid $color3;
    border-bottom: 1px solid $color3;
    h2.heading{
      padding-top: 1rem;
    }
    .gallery{
      margin-left: -8px;
      margin-right: -8px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      position: relative;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      > article{
        cursor: pointer;
        height: 190px;
        width: 25%;
        background-size: cover;
        background-position: center center;
        border: 8px solid $color6;

      }
    }
    @include media-breakpoint-down(sm) {
      .gallery{
        > article{
          width: 50%;
        }
      }
    }
  }
  &-education{

    margin-bottom: 1rem;
    div:not(:last-child){
      margin-bottom: 1rem;
    }
  }
  &-skills{
    .intro{
      p{
        margin-top: 0;
      }
    }
    .content{
      div:not(:last-child){
        margin-bottom: 1rem;
      }
      .progress-bar{
        background-color: $color4;
      }
    }
  }
  &-entrylist{
    .btn{
      margin-top: 1rem;
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
    }
  }
}

/* ##################################
 Layout
###################################*/

.sidebar{
  .modular-gallery{
    border: 0;
    h2.heading{
      padding-top:0;
    }
    .gallery{
      margin: 0;
      padding: 0;
      > article{
        width: 100%;
        border: 0;
        &:not(last-child){
          margin-bottom: 8px;
        }
      }
    }
  }
}

.main{
  .entrylist{
    .entry-item{
      .item-image{
        img{
          width: 180px;
        }
      }
    }
  }
  .modular-gallery{
    border: 0;
    h2.heading{
      padding-top:0;
    }
    .gallery{
      margin: 0;
      padding: 0;
      > article{
        width: 50%;
        border: 0;
        &:nth-child(odd){
          border-right: 4px solid $color6;
        }
        &:nth-child(even){
          border-left: 4px solid $color6;
        }
        &:nth-child(n+3) {
          margin-top: 8px;
        }
      }
    }
  }
}
